<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookiesmart.pocketehr_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".Controllers.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_pocketehr"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/CustomActionBarTheme">

        <activity
            android:name=".Controllers.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Controllers.PatientListActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.PatientActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.AddPatientBodyActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Controllers.AddPatientNotesActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Controllers.AddPatientContactActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Controllers.AddPatientHistoryActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Controllers.ChangeStatusActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.AddNoteActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.MainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.ShowPhotoActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.SettingsActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.AboutActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.SearchResultActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search" />
        </activity>

        <activity
            android:name=".Controllers.CheckInSearchResultActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search_checkin" />
        </activity>

        <activity
            android:name=".Controllers.AddHospitalActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Controllers.CheckinActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name">

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".CheckInSearchResultActivity" />

        </activity>

        <activity
            android:name=".Controllers.VerifyUser"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.GenerateQRCodeActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.ForgotPasswordActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.VisitTypeActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.PatientStatusActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.PatientLocationActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.DoctorSelectionActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.AddPatientActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.NewPatientListActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.PatientVisitsScreenActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".Controllers.NewPatientActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />
    </application>


</manifest>
