<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookiesmart.pocketehr_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_pocketehr"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:name=".MyApplication">
        <activity
            android:name=".LoginActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PatientListActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".PatientActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".AddPatientBodyActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AddPatientNotesActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="AddPatientContactActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AddPatientHistoryActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ChangeStatusActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".AddNoteActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".ShowPhotoActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".SettingsActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".AboutActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".ShowAlertActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" />
    </application>
</manifest>
